@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #161616;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input, textarea {
  width: 100%;
  border: 1px solid #161616;
  display: block;
  padding: 8px 10px;
  background-color: #fff;
  background-clip: padding-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #161616;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 10px 15px 9px;
  background: #fff;
  color: #b49543;
  border: solid 2px #ebebeb;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
  border-color: #b49543;
  color: #161616;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
}

.logo {
  min-height: 100px;
  background-color: #72305f;
  flex: 0 0 270px;
  max-width: 270px;
  display: flex;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 calc(100% - 285px);
  max-width: calc(100% - 285px);
}

.header-social {
  display: flex;
  justify-content: flex-end;

}

.social-icons {
  display: flex;

}

.social-icons li {
  margin-left: 15px;
}

.search {
  margin-left: 35px;
}

.inner-navigation {

}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin-left: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog {
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px);
}

aside {
  flex: 0 0 280px;
  max-width: 280px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}

.blog-post {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 25px;
  padding-right: 15px;
  padding-left: 15px;
}

.blog-post-img {
  margin: 0 0 10px 0;
}

.post-title-wrap {
  height: 33px;
  position: relative;
}

.blog-post-title {
  font-size: 22px;
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  line-height: 1.2;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis:hover {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
  word-wrap: break-word;
  background-color: #fafafa;
}

.blog-post-date {
  font-size: 14px;
  color: #666;
}

.text-block {
  margin-bottom: 10px;
}

.text-block.text-description {
  min-height: 145px;
}

.text-block.blog-post-description {
  margin-bottom: 15px;

}

.blog-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-post-img img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.blog-post-rating {
  color: #b49543;
}

.blog-post-comments {
  color: #666;
}

.aside-title {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  background: #72305f;
  color: #fff;
  font-size: 11px;
  padding: 13px 0;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.aside-about-avatar {
  text-align: center;
  height: 200px;
  margin-bottom: 15px;
}

.aside-about-avatar img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.social-icons.social-aside {
  justify-content: space-around;
}

.social-icons.social-aside li {
  margin: 0;
}

.aside-block {
  margin-bottom: 15px;
}

.aside-about-sig {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-about-sig img {
  max-width: 100%;
  height: auto;
}

.footer-left {
  flex: 0 0 60%;
  max-width: 60%;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-location {
  flex: 0 0 40%;
  max-width: 40%;
  padding-left: 15px;
}

.logo-footer {
  display: inline-block;
  background: rgba(255, 255, 255, 0.25);
  width: 180px;
  padding: 5px;
}

.input-wrap {
  margin-bottom: 15px;
}

.info {
  position: relative;
  margin-bottom: 10px;

}

.info-text {
  padding-left: 25px;
  color: #fff;
  display: inline-block;
}

.info-icon {
  position: absolute;
  left: 0;
  top: 5px;
  color: #fff;
}

footer {
  display: flex;
}

.footer-wrap {
  margin-top: 50px;
  background-color: #72305f;
  padding: 25px 0 10px;
}

.text-block.text-block-footer {
  color: #fff;
}
.btn-menu{
  display: none;
}
@media screen and (max-width: 1230px) {

}

@media screen and (max-width: 991px) {
  .blog {
    flex: 0 0 100%;
    max-width: 100%;
  }

  aside {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .text-block.text-description {
    min-height: 125px;
  }

  aside {
    display: flex;
  }

  .aside-about {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
  }

  .aside-bottom {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
  }

  .blog {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .header-wrap {
    background-color: #72305f;
  }
}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 479px) {

}

@media screen and (max-width: 359px) {

}